{{ with .Site.Params.Social.github }}
<li><a href="//github.com/{{.}}" target="_blank" rel="noopener" aria-label="GitHub"><i
  class="fa-brands fa-github" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.gitlab }}
<li><a href="//gitlab.com/{{.}}" target="_blank" rel="noopener" aria-label="GitLab"><i
  class="fa-brands fa-gitlab" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.stackoverflow }}
<li><a href="//stackoverflow.com/users/{{.}}" target="_blank" rel="noopener"
       aria-label="Stack Overflow"><i class="fa-brands fa-stack-overflow"
                                      aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.bitbucket }}
<li><a href="//bitbucket.com/{{.}}" target="_blank" rel="noopener" aria-label="Bitbucket"><i
  class="fa-brands fa-bitbucket" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.jsfiddle }}
<li><a href="//jsfiddle.com/{{.}}" target="_blank" rel="noopener" aria-label="JSFiddle"><i
  class="fa-brands fa-jsfiddle" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.codepen }}
<li><a href="//codepen.io/{{.}}" target="_blank" rel="noopener" aria-label="CodePen"><i
  class="fa-brands fa-codepen" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.deviantart }}
<li><a href="//{{.}}.deviantart.com/" target="_blank" rel="noopener" aria-label="DeviantArt"><i
  class="fa-brands fa-deviantart" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.flickr }}
<li><a href="//flickr.com/photos/{{.}}" target="_blank" rel="noopener" aria-label="Flickr"><i
  class="fa-brands fa-flickr" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.behance }}
<li><a href="//behance.net/{{.}}" target="_blank" rel="noopener" aria-label="Behance"><i
  class="fa-brands fa-behance" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.dribbble }}
<li><a href="//dribbble.com/{{.}}" target="_blank" rel="noopener" aria-label="Dribbble"><i
  class="fa-brands fa-dribbble" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.wordpress }}
<li><a href="//{{.}}.wordpress.com" target="_blank" rel="noopener" aria-label="WordPress"><i
  class="fa-brands fa-wordpress" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.medium }}
<li><a href="//medium.com/@{{.}}" target="_blank" rel="noopener" aria-label="Medium"><i
  class="fa-brands fa-medium" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.linkedin }}
<li><a href="//www.linkedin.com/in/{{.}}" target="_blank" rel="noopener" aria-label="LinkedIn"><i
  class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.linkedin_company }}
<li><a href="//linkedin.com/company/{{.}}" target="_blank" rel="noopener"
       aria-label="LinkedIn Company"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a>
</li>{{ end }}
{{ with .Site.Params.Social.foursquare }}
<li><a href="//foursquare.com/{{.}}" target="_blank" rel="noopener" aria-label="Foursquare"><i
  class="fa-brands fa-foursquare" aria-hidden="true"></i></a></li>{{ end  }}
{{ with .Site.Params.Social.xing }}
<li><a href="//xing.com/profile/{{.}}" target="_blank" rel="noopener" aria-label="Xing"><i
  class="fa-brands fa-xing" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.slideshare }}
<li><a href="//slideshare.com/{{.}}" target="_blank" rel="noopener" aria-label="SlideShare"><i
  class="fa-brands fa-slideshare" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.facebook }}
<li><a href="//facebook.com/{{.}}" target="_blank" rel="noopener" aria-label="Facebook"><i
  class="fa-brands fa-facebook" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.reddit }}
<li><a href="//reddit.com/user/{{.}}" target="_blank" rel="noopener" aria-label="Reddit"><i
  class="fa-brands fa-reddit" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.quora }}
<li><a href="//quora.com/profile/{{.}}" target="_blank" rel="noopener" aria-label="Quora"><i
  class="fa-brands fa-quora" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.youtube }}
<li><a href="//youtube.com/{{.}}" target="_blank" rel="noopener" aria-label="YouTube"><i
  class="fa-brands fa-youtube" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.vimeo }}
<li><a href="//vimeo.com/{{.}}" target="_blank" rel="noopener" aria-label="Vimeo"><i
  class="fa-brands fa-vimeo" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.whatsapp }}
<li><a href="//api.whatsapp.com/send?phone={{.}}" target="_blank" rel="noopener"
       aria-label="WhatsApp"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
</li>{{ end }}
<!-- TODO: WeChat and QQ Check -->
{{ with .Site.Params.Social.wechat }}
<li><a href="weixin://contacts/profile/{{.}}" target="_blank" rel="noopener" aria-label="WeChat"><i
  class="fa-brands fa-weixin" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.qq }}
<li><a href="//wpa.qq.com/msgrd?v=3&amp;uin={{.}}&amp;site=qq&amp;menu=yes" target="_blank"
       rel="noopener" aria-label="QQ"><i class="fa-brands fa-qq" aria-hidden="true"></i></a>
</li>{{ end }}
{{ with .Site.Params.Social.instagram }}
<li><a href="//instagram.com/{{.}}" target="_blank" rel="noopener" aria-label="Instagram"><i
  class="fa-brands fa-instagram" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.tumblr }}
<li><a href="//{{.}}.tumblr.com" target="_blank" rel="noopener" aria-label="Tumblr"><i
  class="fa-brands fa-tumblr" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.x }}
<li><a href="//x.com/{{.}}" target="_blank" rel="noopener" aria-label="X"><i
  class="fa-brands fa-x-twitter" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.bluesky }}
<li><a href="//bsky.app/profile/{{.}}" target="_blank" rel="noopener" aria-label="Bluesky"><i
  class="fa-solid fa-cloud" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.strava }}
<li><a href="//strava.com/athletes/{{.}}" target="_blank" rel="noopener" aria-label="Strava"><i
  class="fa-brands fa-strava" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.skype }}
<li><a href="skype:{{.}}?userinfo" target="_blank" rel="noopener" aria-label="Skype"><i
  class="fa-brands fa-skype" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.snapchat }}
<li><a href="//snapchat.com/add/{{.}}" target="_blank" rel="noopener" aria-label="Snapchat"><i
  class="fa-brands fa-snapchat" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.pinterest }}
<li><a href="//www.pinterest.com/{{.}}" target="_blank" rel="noopener" aria-label="Pinterest"><i
  class="fa-brands fa-pinterest-p" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.telegram }}
<li><a href="//telegram.me/{{.}}" target="_blank" rel="noopener" aria-label="Telegram"><i
  class="fa-brands fa-telegram" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.vine }}
<li><a href="//vine.co/{{.}}" target="_blank" rel="noopener" aria-label="Vine"><i
  class="fa-brands fa-vine" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.googlescholar }}
<li><a href="//scholar.google.com/citations?user={{.}}" target="_blank" rel="noopener"
       aria-label="Google Scholar"><i class="ai ai-google-scholar" aria-hidden="true"></i></a>
</li>{{ end }}
{{ with .Site.Params.Social.orcid }}
<li><a href="//orcid.org/{{.}}" target="_blank" rel="noopener" aria-label="ORCID"><i
  class="ai ai-orcid" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.researchgate }}
<li><a href="//researchgate.net/profile/{{.}}" target="_blank" rel="noopener"
       aria-label="Research Gate"><i class="ai ai-researchgate" aria-hidden="true"></i></a>
</li>{{ end }}
{{ with .Site.Params.Social.keybase }}
<li><a href="//keybase.io/{{.}}" target="_blank" rel="noopener" aria-label="Keybase"><i
  class="fa-brands fa-keybase" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.mastodon }}
<li><a href="//{{.}}" target="_blank" rel="noopener" aria-label="Mastodon"><i
  class="fa-brands fa-mastodon" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.email }}
<li><a href="mailto:{{.}}" target="_blank" aria-label="Email"><i class="far fa-envelope"
                                                                 aria-hidden="true"></i></a>
</li>{{ end }}
{{ with .Site.Params.Social.speaker_deck }}
<li><a href="//speakerdeck.com/{{.}}" target="_blank" rel="noopener" aria-label="Speaker Deck"><i
  class="fa-brands fa-speaker-deck" aria-hidden="true"></i></a></li>{{ end }}
{{ with .Site.Params.Social.crowdin }}
<li><a href="//crowdin.com/profile/{{.}}" target="_blank" rel="noopener" aria-label="Crowdin"><i
  class="fa-solid fa-pen-square" aria-hidden="true"></i></a></li>{{ end }}
